<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
<style> 
body {
    background-color: #cccccc;
}
img{
    border: 1px solid #ddd;
    border-radius : 4 px;
    padding : 5px;
    width: 150px;

}
</style>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/31408368_1770203089693332_7170792043516526592_n.jpg?_nc_cat=0&oh=25bbd8415721b0709968403d182b2e90&oe=5C38BA7E" alt="ini foto" style="width:150px">
</body>
</html>
